:root {
--bs-body-bg: #D6C9A8;     
--bs-body-color: #1f2727; 
--bs-secondary: #3d2512;    
--bs-primary: #D8E3DF;      
}

body {
background-color: var(--bs-body-bg);
color: var(--bs-body-color);
}


.btn-primary {
background-color: var(--bs-secondary);
border-color: var(--bs-secondary);
color: var(--bs-primary);
font-weight: 600;
transition: all 0.3s ease;
}
.btn-primary:hover {
background-color: var(--bs-primary);
border-color: var(--bs-primary);
color: var(--bs-secondary);
}

nav {
background-color: #7E5A3C;
}

a.nav-link {
color: var(--bs-body-color) !important;
}
a.nav-link:hover {
color: var(--bs-secondary) !important;
}

.card {
background-color: #6c88c4; 
color: var(--bs-body-color);
}

header .text-center {
text-shadow: 1px 1px 6px rgba(184, 137, 67);
}


