
        /* Night mode variables */
body.night-mode {
    --bs-primary: #a8a889;        /* Fondo principal oscuro */
    --bs-secondary: #0a1042;      /* Fondo alternativo / tarjetas */
    --bs-success: #D6C9A8;        /* Botones / bordes resaltados */
    --bs-dark: #D8E3DF;           /* Texto claro sobre oscuro */

    --bs-body-bg: var(--bs-primary);
    --bs-body-color: var(--bs-dark);

    /* Botones */
    --bs-btn-bg: var(--bs-success);
    --bs-btn-color: var(--bs-dark);
    --bs-btn-border-color: var(--bs-success);
    --bs-btn-hover-bg: var(--bs-dark);
    --bs-btn-hover-border-color: var(--bs-dark);
    --bs-btn-hover-color: var(--bs-primary);

    /* Tarjetas */
    --bs-card-bg: var(--bs-secondary);
    --bs-card-color: var(--bs-dark);

    /* Links / Navbar */
    --bs-link-color: var(--bs-dark);
    --bs-link-hover-color: var(--bs-success);

    /* Body general */
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}
